footer{
  background-color: #EFEFEF;
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;


  .footer_up{
    height: 16rem;
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    margin-top: 2rem;

    .f_up_1{
      display: flex;
      flex-direction: column;
      margin-right: 3rem;


      .f_up_logo_section{
        display: flex;
        flex-direction: row;

        .f_up_text_logo{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFAD00;
          font-size: 1.75rem;
          font-weight: bold;
          font-family: poppins;
        }


        img{
          height: 6rem;
        }
      }
    }

    .f_up_2, .f_up_3, .f_up_4{
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-family: poppins;
      padding-right: 10rem !important;
      p{
        font-weight: 600;
      }
      ul{
        list-style: none;
        padding:1rem 0;
        font-weight: 400;


        a{
          color: black;
          text-decoration: none;
        }

        li{
          padding-top:0.5rem;
        }
      }
    }
  }
  .footer_mid{
    font-family: poppins;
    font-weight:500;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: black;

  }
  .footer_down{
    font-family: poppins;
    font-weight:300;
    font-size: 9px;
    line-height: 140%;
    text-align: end;
    color: black;
    width: 100%;
    padding-bottom: 1rem !important;
  }
}