.h-section{
  font-family: roboto !important;
  margin-top: 3rem;
  h3{
    font-size: 20pt !important;
    font-weight: 500;
  }
  h6{
    font-size: 14pt !important;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5) !important;
  }
}