header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  border-bottom: 1px solid #ccc;

  .logo {
    display: flex;
    img {
      height: 3.938rem;
    }
    .f_up_text_logo{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFAD00;
      font-size: 1.75rem;
      font-weight: bold;
      font-family: poppins;
    }
  }

  nav {
    display: flex;
    justify-content: right;
    gap: 15px;
    width: 54.375rem;
  }

  .login {
    display: flex;
    gap: 10px;

    button {
      padding: 8px 14px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;

      &:first-child {
        background: white;
        border: 1px solid #ccc;
      }

      &:last-child {
        background: black;
        color: white;
        border: none;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
